<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name=".ResplashApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Resplash.Theme.DayNight">
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity
            android:name=".ui.muzei.MuzeiSettingsActivity"
            android:exported="true" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Resplash.Theme.DayNight.ActionBar" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.debug.DebugActivity" />
        <activity android:name=".ui.donation.DonationActivity" />
        <activity android:name=".ui.upgrade.UpgradeActivity" />
        <activity android:name=".ui.autowallpaper.history.AutoWallpaperHistoryActivity" />
        <activity android:name=".ui.autowallpaper.collections.AutoWallpaperCollectionActivity" />
        <activity
            android:name=".ui.autowallpaper.AutoWallpaperSettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.edit.EditProfileActivity" />
        <activity
            android:name=".ui.user.UserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.collection.detail.CollectionDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.photo.zoom.PhotoZoomActivity"
            android:theme="@style/Resplash.Theme.DayNight.PhotoZoom" />
        <activity
            android:name=".ui.photo.detail.PhotoDetailActivity"
            android:theme="@style/Resplash.Theme.DayNight.PhotoDetail" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.b_lam.resplash.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <data
                    android:host="unsplash-auth-callback"
                    android:scheme="resplash" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.routing.RoutingActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <data
                    android:host="unsplash.com"
                    android:path="/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="unsplash.com"
                    android:pathPrefix="/photos/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="unsplash.com"
                    android:pathPrefix="/collections/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="unsplash.com"
                    android:pathPattern=".*/@.*"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Resplash.Theme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".service.AutoWallpaperTileService"
            android:exported="true"
            android:icon="@drawable/ic_resplash_24dp"
            android:label="@string/auto_wallpaper_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".provider.ResplashMuzeiArtProvider"
            android:authorities="${applicationId}.muzeiartprovider"
            android:description="@string/header_subtitle"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="com.b_lam.resplash.ui.muzei.MuzeiSettingsActivity" />
        </provider>

        <receiver
            android:name=".provider.AutoWallpaperAppWidgetProvider"
            android:exported="true"
            android:label="@string/auto_wallpaper_next_wallpaper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/auto_wallpaper_app_widget_info" />
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>
